[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test
[submodule "third_party/coremark"]
	path = third_party/coremark
	url = https://github.com/eembc/coremark.git
[submodule "third_party/embench-iot"]
	path = third_party/embench-iot
	url = https://github.com/embench/embench-iot.git
